/* Home page Slider */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Slider ends */

/* Custom */
/* Overlay for spinner*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-height: calc(110vh);
    width: 100%;
    background-color: #fff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove card border */
.speaker {
    border: 0;
}
.navbar-inner {
    background:transparent;
}

/* remove rounding from cards, buttons and inputs */
.card, .btn, .form-control { border-radius: 0; }

/* Home page navigation */
#homenav {
    font-family: 'Maven Pro'; 
    position:absolute;
    z-index: 999; 
    width:100%
}

/* Speakers Cards */

.card {
    background-color: transparent;
    align-items: center;
}

.encircle {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    border: 2px solid rgb(191, 193, 9);
}

.margin {
    margin: 1em;
}
/* Custom ends */

/* Sponsor */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Sponsor ends*/
/* Spinner*/
.circle {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:5rem;
    height:5rem;
    border: 5px solid #fff;
    box-shadow:0 0 0 5px #4973ff;
    border-radius:50%;
    overflow:hidden;
}
.wave {
    position:relative;
    width:100%;
    height:100%;
    background:#4973ff;
    border-radius:50%;
    box-shadow:inset 0 0 50px rgba(0,0,0,.5);
}
.wave:before,
.wave:after{
    content:'';
    position:absolute;
    width:200%;
    height:200%;
    top:0;
    left:50%;
    transform:translate(-50%,-75%);
    background:#000;
}
.wave:before {
    border-radius:45%;
    background:rgba(255,255,255,1);
    animation:animate 5s linear infinite;
}
.wave:after {
    border-radius:40%;
    background: rgba(255,255,255,.5);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}
/* Spinner ends*/